@model IEnumerable<MeetingTracker.Models.Meeting>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">


    <p class="alert alert-primary display-4">@ViewBag.PageTitle</p>

    <div class="card-deck">
        @foreach(var item in Model)
    {
        <div class="card w-50">
            <div class="card-header bg-info">@item.MeetingName</div>
            <div class="card-body">
                <p>Type: @item.MeetingType</p>
                <p>Happens At : @item.RoomName</p>
                <p>Event starts : @item.MeetingDateTime</p>
            </div>
            </div>
    }
</div>